RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# local
RewriteRule ^(.*)$ /Api/index.php?/$1 [L]
# remote
# RewriteRule ^(.*)$ /index.php?/$1 [L]
# local double api
# RewriteRule ^/Api/(.*)$/index.php?/$1 [L]